.ContactUs{
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.ContactUs h1{
    font-size: 2.5rem;
    margin-bottom: 70px;
}
.ContactUs h2{
    font-size: 1.5rem;
}
.ContactUs p{
    font-size: 1.2rem;
}
.ContactUs a{
    font-size: 1.2rem;
}
.ContactUs a:hover{
    text-decoration: underline;
}
.ContactUs img{
    width: 100%;
    max-width: 100px;
    margin: 10px;
    margin-bottom: 20px;
}

.OrderStatus{
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.OrderStatus h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.OrderStatus p{
  max-width: 280px;
  margin: auto;
  text-align: left;
  font-size: 1rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin-top: 20px;
}

.MuiTextField-root {
  border: none;
  margin-top: 50px;
}

.MuiTextField-root input {
  background-color: #ffffff;
  font-size: 1.0rem;
  color: #333;
  outline: none;
  height: 20px;
}


.OrderStatus button {
  margin-top: 30px;
  width: 200px;
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.OrderStatus button:hover {
  background-color: #555;
  color: white;
}

.OrderStatus_search{
  max-width: 1500px;
  text-align: center;
  margin: auto;
}
.OrderStatus_search h1{
  font-size: 2.5rem;
  margin-top: 50px;
}

.OrderStatus_search p{
  margin: 10px auto;
  font-size: 1.1rem;
}
.box_orderStatus_search{
  max-width: 300px;
  margin: auto;
  text-align: left;
}
.box_status{
  margin-top: 40px;
}

.icon_status{
  width: 100%;
  max-width: 80px;
  margin: 10px;
}
.icon_status_none{
  filter: brightness(40%);
  width: 100%;
  max-width: 80px;
  margin: 10px;
}

.order-history{
  display: flex;
  margin: 30px 30px;
  max-width: 1000px;
  text-align: center;
  /* background-color: #333; */
}

.product_urlimg{
  max-width: 170px;
  max-height: 170px;
  margin-top: 30px;
  width: 100%;
  height: 100%;
}

.product_text{
  text-align: left;
  margin-left: 20px;
  margin-top: 30px;
}
.product_text p{
  font-size: 1.1rem;
  margin: 1px;
}

.order-full-box{
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin-bottom: 20px;
  padding: 20px;
}
.order_text{
  text-align: left;
  margin-left: 20px;
  margin-top: 30px;
}
.order_text button{
  margin-top: 20px;
  width: 200px;
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order_text p{
  font-size: 1.1rem;
  margin: 1px;
}
.order-login-box{
  color: #555;
  width: 100%;
  text-align: center;
  margin: auto;
}
.order-login-box:hover{
  color: #000000;
}
.order-login-box-1{
  color: #555;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 15%;
}
.order-login-box:hover-1{
  color: #000000;
}